openapi: 3.0.3
info:
  title: BREECE API SPECIFICATION
  description: |-
    This is the documentation made by Akbar Fikri. You can find all about my API Specification for BREECE Apps.
    If you have criticism or suggestions, don't hesitate to let me know via Github issue

    Some useful links:
    - [Github Repository](https://github.com/AkbarFikri/BREECE-BE)
    - [BREECE Website](breece.ub.ac.id)
  # termsOfService: http://swagger.io/terms/
  contact:
    email: akbarfikriabdillah@gmail.com
  license:
    name: MIT License
    url: https://opensource.org/license/mit
  version: 1.0.0

externalDocs:
  description: Find out more about BREECE
  url: http://swagger.io

servers:
  - url: https://breece.akbarfikri.site/api/v1

tags:
  - name: Auth
    description: Its a group for Authentication Endpoints.
    externalDocs:
      description: Find out more
      url: http://swagger.io
  - name: User
    description: Its a group for User Endpoints
    externalDocs:
      description: Find out more
      url: http://swagger.io
  - name: Event
    description: Its a group for Event Endpoints
    externalDocs:
      description: Find out more
      url: http://swagger.io
  - name: Payment
    description: Its a group for Payment Endpoints
    externalDocs:
      description: Find out more
      url: http://swagger.io
  - name: Admin
    description: Its a group for Admin Endpoints

paths:
  /auth/register:
    post:
      tags:
        - Auth
      summary: Register new user
      operationId: registerUser
      requestBody:
        description: Use for register new user in apps
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: emailmu@gmail.com
                password:
                  type: string
                  example: kucingkulucu
                full_name:
                  type: string
                  example: si kucing akbar
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Successfully register user and send OTP to email
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                        example: emailmu@gmail.com
                      full_name:
                        type: string
                        example: si kucing akbar
                      reference_id:
                        type: string

        "400":
          description: Invalid Request data
        "500":
          description: Internal server error
  /auth/register/organizer:
    post:
      tags:
        - Auth
      summary: Register new organizer
      operationId: registerOrganizer
      requestBody:
        description: Use for register new admin in apps
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: emailmu@gmail.com
                password:
                  type: string
                  example: kucingkulucu
                full_name:
                  type: string
                  example: si kucing akbar
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Successfully register user and send OTP to email
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                        example: emailmu@gmail.com
                      full_name:
                        type: string
                        example: si kucing akbar
                      reference_id:
                        type: string

        "400":
          description: Invalid Request data
        "500":
          description: Internal server error
  /auth/register/admin:
    post:
      tags:
        - Auth
      summary: Register new admin
      operationId: registerAdmin
      parameters:
        - in: header
          name: API_KEY
          schema:
            type: string
          required: true
      requestBody:
        description: Use for register new admin in apps
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: emailmu@gmail.com
                password:
                  type: string
                  example: kucingkulucu
                full_name:
                  type: string
                  example: si kucing akbar
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Successfully register user and send OTP to email
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                        example: emailmu@gmail.com
                      full_name:
                        type: string
                        example: si kucing akbar
                      reference_id:
                        type: string

        "400":
          description: Invalid Request data
        "500":
          description: Internal server error
  /auth/login:
    post:
      tags:
        - Auth
      summary: Login user
      operationId: loginUser
      requestBody:
        description: Use for login user
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: emailmu@gmail.com
                password:
                  type: string
                  example: kucingkulucu
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Successfully login
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                      expire_at:
                        type: string
                        format: date-time
        "400":
          description: Invalid Request data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Invalid email or password
                  data:
                    type: object
                    example:
        "500":
          description: Internal server error
  /auth/login/organizer:
    post:
      tags:
        - Auth
      summary: Login organizer
      operationId: loginOrganizer
      requestBody:
        description: Use for login organizer
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: emailmu@gmail.com
                password:
                  type: string
                  example: kucingkulucu
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Successfully login
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                      expire_at:
                        type: string
                        format: date-time
        "400":
          description: Invalid Request data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Invalid email or password
                  data:
                    type: object
                    example:
        "500":
          description: Internal server error
  /auth/login/admin:
    post:
      tags:
        - Auth
      summary: Login admin
      operationId: loginAdmin
      requestBody:
        description: Use for login admin
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: emailmu@gmail.com
                password:
                  type: string
                  example: kucingkulucu
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Successfully login
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                      expire_at:
                        type: string
                        format: date-time
        "400":
          description: Invalid Request data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Invalid email or password
                  data:
                    type: object
                    example:
        "500":
          description: Internal server error
  /auth/otp:
    post:
      tags:
        - Auth
      summary: Verify OTP email
      operationId: verifyOtpFromRegister
      requestBody:
        description: Use the reference ID that available in response body register
        content:
          application/json:
            schema:
              type: object
              properties:
                reference_id:
                  type: string
                otp:
                  type: string

        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Successfully to verified email
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                        example: emailmu@gmail.com
                      is_email_verified:
                        type: boolean
                        example: true
                      email_verified_at:
                        type: string
                        format: date-time
        "400":
          description: Invalid Request data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Invalid OTP
                  data:
                    type: object
                    example:
        "500":
          description: Internal server error
  /auth/profile:
    post:
      tags:
        - Auth
      summary: Verify User profile
      operationId: verifyProfileUser
      requestBody:
        description: Use the ID from user
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                id_file:
                  type: string
                  format: binary
                id:
                  type: string
                  format: uuid
                nim_nik:
                  type: string
                prodi:
                  type: string
                universitas:
                  type: string
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Successfully to verified profile
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                        example: emailmu@gmail.com
                      full_name:
                        type: string
                      nim_nik:
                        type: string
                      prodi:
                        type: string
                      universitas:
                        type: string
                      id_url:
                        type: string
                      is_email_verified:
                        type: boolean
                        example: true
                      is_profile_verified:
                        type: boolean
                        example: true
        "400":
          description: Invalid Request data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Bad request, data provided is invalid
                  data:
                    type: object
                    example:
        "500":
          description: Internal server error

  /user/current:
    get:
      tags:
        - User
      summary: Get user Login Information
      operationId: getUserLoginInformation
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Successfully to verified email
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                        example: emailmu@gmail.com
                      nim:
                        type: integer
                      prodi:
                        type: string
                      fakultas:
                        type: string
                      universitas:
                        type: string
                      id_url:
                        type: string
                        example: https://s3.amazon.com/asdkhuawoidsjldjawidjs.png
                      is_profile_verified:
                        type: boolean
                        example: false
                      is_email_verified:
                        type: boolean
                        example: true
                      is_admin:
                        type: boolean
                        example: false
                      is_organizer:
                        type: boolean
                        example: false
                      email_verified_at:
                        type: string
                        format: date-time
        "401":
          description: Invalid Request data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Authorization is required for this route.
                  data:
                    type: object
                    example:
        "500":
          description: Internal server error

  /event:
    get:
      tags:
        - Event
      summary: its use for fetch event data.
      operationId: fetchEvent
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: search
          schema:
            type: string
            example: Orasi
          description: Its use for search feature
        - in: query
          name: place
          schema:
            type: string
            example: NKRI
          description: Its use for filter by place. It can be dynamic by input user
        - in: query
          name: date
          schema:
            type: string
            example: 2022-10-3
            format: YY-MM-DD
          description: Its use for filter by date.
        - in: query
          name: category
          schema:
            type: string
            example: asdwadlhaodiaw-dashdowadasdlk-asdjawduh
            format: uuid
          description: Its use for filter by category. Use the category_id that provided from category endpoint
        - in: query
          name: page
          schema:
            type: number
            example: 1
          description: Its use for pagination, per page is contain 10 object. Default value is 1.

      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Successfully to find all events
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        title:
                          type: string
                        description:
                          type: string
                        speakers:
                          type: array
                          items: {}
                        speaker_roles:
                          type: array
                          items: {}
                        place:
                          type: string
                        date:
                          type: string
                          format: date-time
                        start_at:
                          type: string
                          format: date-time
                        organize_by:
                          type: string
                          format: uuid

        "404":
          description: Success but data record is not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Event with data provided is not found.
                  data:
                    type: array
                    example: []
        "500":
          description: Internal server error
    post:
      tags:
        - Event
      summary: Its use for post new event. Provided just for organizer
      operationId: postNewEvent
      security:
        - bearerAuth: []
      requestBody:
        description: Use the ID from user
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - "title"
                - "description"
                - "speakers"
                - "speaker_roles"
                - "date"
                - "start_at"
                - "category_id"
                - "place"
                - "is_public"
              properties:
                banner:
                  type: string
                  format: binary
                title:
                  type: string
                description:
                  type: string
                speakers:
                  type: array
                speaker_roles:
                  type: array
                date:
                  type: string
                  format: date
                start_at:
                  type: string
                  format: date-time
                category_id:
                  type: string
                  format: uuid
                link:
                  type: string
                place:
                  type: string
                is_public:
                  type: boolean

        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Successfully to verified profile
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      title:
                        type: string
                      description:
                        type: string
                      speakers:
                        type: array
                        items: {}
                      speaker_roles:
                        type: array
                        items: {}
                      place:
                        type: string
                      date:
                        type: string
                        format: date-time
                      start_at:
                        type: string
                        format: date-time
                      organize_by:
                        type: string
                        format: uuid
        "400":
          description: Invalid Request data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Bad request, data provided is invalid
                  data:
                    type: object
                    example:
        "500":
          description: Internal server error
  /event/{id}:
    get:
      tags:
        - Event
      summary: Its use for fetch event details
      operationId: getEventDetails
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Successfully to verified profile
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      title:
                        type: string
                      description:
                        type: string
                      speakers:
                        type: array
                        items: {}
                      speaker_roles:
                        type: array
                        items: {}
                      place:
                        type: string
                      date:
                        type: string
                        format: date-time
                      start_at:
                        type: string
                        format: date-time
                      organize_by:
                        type: string
                        format: uuid
        "400":
          description: Invalid Request data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Bad request, data provided is invalid
                  data:
                    type: object
                    example:
        "500":
          description: Internal server error

  /payment/checkout:
    post:
      tags:
        - Payment
      summary: Its use for user checkout the ticket. Provided just for normal user.
      operationId: checkoutTicket
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                event_id:
                  type: string
                  format: uuid
        required: true
      responses:
        "200":
          description: Successfully create payment method
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Successfully create payment method"
                  data:
                    type: object
                    properties:
                      snap_url:
                        type: string
                        example: "https://app.sandbox.midtrans.com/snap/v3/redirection/cd38bdba-7c78-43d6-88b1-4ed01dee5dba"
                      token:
                        type: string
                        example: "cd38bdba-7c78-43d6-88b1-4ed01dee5dba"
        "400":
          description: Invalid Request data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Bad request, data provided is invalid
                  data:
                    type: object
                    example:
        "500":
          description: Internal server error

  /payment/verify:
    post:
      tags:
        - Payment
      summary: This endpoint is used by midtrans to send notification payment.
      operationId: paymentNotification
      responses:
        "200":
          description: Payment success

  /admin/organizer:
    get:
      tags:
        - Admin
      summary: This endpoint used by admin for see all the organizer user
      operationId: getOrganizerUser
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Successfully to verified profile
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        email:
                          type: string
                          example: emailmu@gmail.com
                        full_name:
                          type: string
                        nim_nik:
                          type: string
                        prodi:
                          type: string
                        universitas:
                          type: string
                        id_url:
                          type: string
                        is_email_verified:
                          type: boolean
                          example: true
                        is_profile_verified:
                          type: boolean
                          example: false
        "404":
          description: Record Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Bad request, data provided is invalid
                  data:
                    type: array
                    example: []
        "400":
          description: Invalid Request data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Bad request, data provided is invalid
                  data:
                    type: object
                    example:
        "500":
          description: Internal server error
  /admin/organizer/{id}:
    get:
      tags:
        - Admin
      summary: This endpoint used by admin for see all the organizer user
      operationId: getOrganizerUser
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Successfully to verified profile
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                        example: emailmu@gmail.com
                      full_name:
                        type: string
                      nim_nik:
                        type: string
                      prodi:
                        type: string
                      universitas:
                        type: string
                      id_url:
                        type: string
                      is_email_verified:
                        type: boolean
                        example: true
                      is_profile_verified:
                        type: boolean
                        example: false
        "400":
          description: Invalid Request data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Bad request, data provided is invalid
                  data:
                    type: object
                    example:
        "500":
          description: Internal server error

  /admin/organizer/verify:
    patch:
      tags:
        - Admin
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                verifiy:
                  type: boolean
                  example: true

      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Successfully to verified organizer profile, and send approval to email
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                        example: emailmu@gmail.com
                      full_name:
                        type: string
                      nim_nik:
                        type: string
                      prodi:
                        type: string
                      universitas:
                        type: string
                      id_url:
                        type: string
                      is_email_verified:
                        type: boolean
                        example: true
                      is_profile_verified:
                        type: boolean
                        example: true
        "400":
          description: Invalid Request data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Bad request, data provided is invalid
                  data:
                    type: object
                    example:
        "500":
          description: Internal server error

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
